/* Set default button styles */
.button {
    @apply
    relative
    flex-shrink-0
    group
    h-8
    px-2
    text-current
    rounded
    flex
    items-center
    justify-center
    overflow-hidden
    whitespace-nowrap
    transition-all
    shadow;
    min-width: 2rem;
}
.button.no-text {
    @apply
    w-8;
}
.button-group .button.no-text {
    @apply
    w-7;
}
/* .button:hover {
    @apply
    shadow-md;
} */
.button:disabled {
    @apply
    opacity-90
    cursor-not-allowed;
}
.button.center {
    @apply 
    pr-10;
}
.button .icon {
    @apply
    h-4 
    w-4 
    mr-2
    text-current
    flex-shrink-0;
}
.no-text .icon {
    @apply
    ml-2;
}
.button:hover .icon {
    @apply
    text-carolina;
}
.button p {
    @apply 
    whitespace-nowrap;
}
.light .button {
    @apply
    /* bg-gray-100 */
    bg-white;
}
.light .button:hover {
    @apply
    bg-gray-100;
}
.light .button:active {
    @apply
    bg-gray-300;
}
.dark .button {
    @apply
    /* bg-gray-700 */
    bg-gray-600;
}
.dark .button:hover {
    @apply
    bg-gray-500;
}
.dark .button:active {
    @apply
    bg-gray-900;
}
/* Set special button styles */
.button.special {
    @apply
    text-white
    bg-theme;
}
.button.special:hover {
    @apply
    bg-carolina;
}
.button.special:active {
    @apply
    filter
    brightness-90;
}
.button.special:hover .icon {
    @apply
    text-white;
}
/* Set warn/danger button styles */
.button.warn {
    @apply
    text-white
    bg-red-500;
}
.button.warn:hover {
    @apply
    bg-red-400;
}
.button.warn:active {
    @apply
    filter
    brightness-90;
}
.button.warn:hover .icon {
    @apply
    text-white;
}