.preview-box {
    @apply
    p-2
    -mx-4;
}
.file-browser.icons .preview-box {
    @apply
    flex 
    flex-wrap;
}
.path-wrapper {
    @apply
    flex
    items-center
    space-x-1;
}
.path-wrapper .directory {

}
.path-wrapper .slash {
    @apply
    w-2
    h-2
    opacity-50;
}

/* Empty message styling */
.empty-message {
    @apply
    flex 
    items-center 
    my-4;
}
.empty-message .icon {
    @apply
    h-4 
    w-4 
    mr-4
    text-gray-400;
}
.empty-message .divider {
    @apply
    bg-gray-400
    bg-opacity-25
    w-0.5
    h-11;
}
.empty-message .message {
    @apply
    ml-4;
}

.file-browser.mini {
    @apply
    /* -mx-4 */
    py-0
    bg-transparent
    rounded-none;
}

.file-browser.mini .backdrop,
.file-browser.mini .backdrop-header {
    @apply
    bg-transparent;
}

.file-browser.mini .backdrop-header,
.file-browser.mini .browser-path {
    @apply
    hidden;
}