:root {
    --sidebar-open-w: 16rem;
    --sidebar-closed-w: 4rem;
    --header-h: 5rem;
    --transition: 0.1s;
    --test: red;
}

/* Overall dashboard styling */
.dashboard {
    @apply
    flex 
    h-full 
    w-full 
    absolute;
}
/* Dashboard flex where card(s) live */
.dashboard-main-content {
    @apply
    flex
    flex-wrap 
    overflow-y-scroll
    overflow-x-hidden;
    height: calc(100%);
    width: calc(100vw - var(--sidebar-closed-w));
}
.show-sidebar .dashboard-main-content {
    width: calc(100vw - var(--sidebar-open-w));
}
.backdrop {
    @apply
    rounded
    overflow-hidden
    p-4;
}
.backdrop .backdrop-header {
    @apply
    pb-4
    p-4
    -m-4
    mb-0
    flex
    items-center
    space-x-4
    min-w-max;
}
.backdrop .backdrop-footer {
    @apply
    -m-4
    mt-0
    p-4
    flex
    items-center
    space-x-4
    min-w-max;
}
.backdrop .backdrop-header span {
    @apply
    flex
    space-x-2
    items-center
    flex-shrink-0;
}
.light .backdrop {
    @apply
    bg-gray-100;
}
.light .backdrop .backdrop-header,
.light .backdrop-footer {
    @apply
    bg-gray-300
    bg-opacity-50;
}
.dark .backdrop {
    @apply
    bg-gray-700;
}
.dark .backdrop .backdrop-header,
.dark .backdrop-footer {
    @apply
    bg-gray-800
    bg-opacity-50;
}

svg {
    @apply
    flex-shrink-0;
}