
.auth-window {
    @apply
    bg-white
    rounded
    overflow-hidden;
}

.auth-logo {
    @apply
    h-32
    w-full
    flex
    items-center
    justify-center
    bg-gray-200;
}

.auth-columns {
    @apply
    flex
    space-x-6
    p-6;
}

.auth-col {
    @apply
    space-y-4
    flex
    flex-col;
}

.auth-col span {
    @apply
    space-y-2
    block;
}
