

.log-edit-prompt .log-blank-message {
    @apply
    /* bg-red-300 */
    flex
    items-center;
    height: 60px;
}

.log-edit-prompt .log-blank-icon {
    @apply
    bg-white
    rounded-sm
    shadow
    ml-2
    mr-3;
    /* w-10
    h-full; */
    height: 2.75rem;
    width: 2.1rem;
}


.light .log-edit-prompt {
    background-color: rgb(243, 244, 246);
}

.dark .log-edit-prompt {
    background-color: rgb(55,65,81);
}

.log-editor-wrapper {
    @apply
    p-2;;
}

.manage-logs .log-editor {
    @apply
    relative
    pl-14
    flex
    w-full;
}

.log-editor .slide-row-control {
    @apply
    w-14
    p-2
    -ml-16
    -mt-2
    pt-10
    mr-2
    -mb-2;
    /* height: calc(100% + 1rem) */
}

.light .slide-row-control {
    background-color: #e1e5e9;
}

.dark .slide-row-control {
    background-color: #2b3444;
}

.slide-row-control .row-top {
    @apply
    rounded
    /* bg-theme-light */
    text-theme-light
    text-lg
    h-10
    w-full
    flex
    items-center
    justify-center
    font-bold;
}

.slide-row-control .row-index {
    @apply
    h-10
    w-full
    flex
    items-center
    justify-center
    text-xs
    font-bold
    text-carolina
    truncate;
}

/* .slide-row-control .row-index:nth-of-type(odd) {
    @apply
    text-carolina-dark;
} */

.row-index > p {
    @apply
    truncate;
}

.slide-row-control .row-add {
    @apply
    m-1;
}

.log-editor .table-wrapper {
    @apply
    /* bg-red-300 */
    flex
    space-x-2
    overflow-hidden;
}

.table-wrapper .table-side {
    @apply
    flex-grow
    overflow-hidden
    rounded;
    width: 25%;
    transition: width var(--transition);
}

.table-side.active-side {
    /* @apply
    bg-blue-500; */
    width: 75%;
}

.table-wrapper .side-scroll {
    @apply
    overflow-x-scroll
    w-full
    /* pb-4
    -mb-4 */
    /* bg-red-50 */
    ;
    min-height: 32rem;
}

.table-wrapper .side-header {
    @apply
    bg-theme-dark
    text-xs
    text-white
    flex
    items-center
    justify-center
    p-2
    truncate
    uppercase
    h-8;
}

.table-wrapper table {
    @apply
    w-full;
}

.light .table-wrapper table {
    @apply
    bg-white;
}

.dark .table-wrapper table {
    @apply
    bg-gray-800;
}

.table-wrapper table thead {
    @apply
    bg-theme-light
    text-white
    text-xs
    uppercase
    font-bold;
}

/* .table-wrapper table thead td {
    @apply
    pl-4;
} */

.table-wrapper table td {
    @apply
    p-2
    text-sm
    /* text-center */
    whitespace-nowrap
    h-10;
    /* min-width: 8rem; */
}

.table-wrapper td.number-cell {
    @apply
    text-right;
}

.table-wrapper td.number-cell input {
    @apply
    text-right;
}

.table-wrapper td input {
    @apply
    p-1.5
    -m-1.5
    bg-transparent;
}

.table-wrapper td input:focus {
    @apply
    rounded-sm
    ring-2
    ring-carolina
    outline-none;
}

/* .table-wrapper table td:nth-child(even) {
    @apply
    bg-carolina
    bg-opacity-10;
} */

.table-wrapper table tr:nth-child(even) {
    @apply
    bg-carolina
    bg-opacity-10;
}

.no-row-message {
    @apply
    /* bg-red-300 */
    h-10
    px-4
    flex
    items-center
    absolute
    -mt-10
    ml-14;
}

.file-icon-badge {
    @apply
    bg-theme
    shadow
    flex
    items-center
    justify-center
    text-white !important
    font-bold
    rounded-sm
    text-xs
    h-5
    w-5
    flex-shrink-0;
}
